body {
  /* Location of the image */
  background-image: url(NYC.jpg);

  /* Image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Image doesn't repeat */
  background-repeat: no-repeat;

  /* Makes the image fixed in the viewport so that it doesn't move when
     the content height is greater than the image height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;

  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;

  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}

#nav {
    display: table;
    height: 50px;
    width: 100%;
}

#nav li {
    display: table-cell;
    height: 50px;
    width: 16.666666667%;
    line-height: 50px;
    text-align: center;
    background: #000000;
    border-right: 1px solid #fff;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(NYC.jpg);
  }
	}
